//-------------------------------------------------
// Hero
//-------------------------------------------------

.hero__body {
  @include spacer_body_small;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  .layout__body & {
    min-height: 350px;

    @include break-min($sm) {
      min-height: 650px;
    }
  }
}

.hero__background-image {
  @include absolute_fill;
  @include object_fit_cover;
  z-index: 1;
}

.hero__content {
  color: #fff;
  padding-right: $grid-gap;
  padding-left: $grid-gap;

  position: relative;
  z-index: 3;

  *:last-child {
    margin-bottom: 0;
  }

  @include break-min($md) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @include break-min($lg) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

h2.hero__title {
  @include font_heading-1;
  font-weight: $fw-light;
  color: currentColor;

  display: block;

  &:only-child {
    margin-bottom: 0;
  }
}

p.hero__text {
  @include font_small_text;

  @include break-min($sm) {
    @include font_heading-5;
    max-width: calc((7 / 12) * 100%);
  }
  @include break-min($lg) {
    max-width: calc((5 / 12) * 100%);
  }
}

.hero__overlay {
  @include absolute_fill;
  background: $hero-gradient;
  z-index: 2;
}
