//-------------------------------------------------
// Hero
//-------------------------------------------------

.hero {
  position: relative;
}

.hero__inner {
  @include inner_padding;
  display: flex;
  position: relative;
}

.hero__background-image,
.block-editor__container .hero__background-image {
  @include absolute_fill;
  @include object_fit_cover;

  z-index: 1;
}

.hero__body {
  width: 100%;

  display: flex;
  align-items: flex-end;

  .layout__body & {
    min-height: 300px;
  }

  .hero--large & {
    align-items: center;
    flex-direction: column;
    justify-content: center;

    position: relative;

    .layout__body & {
      @include break-min($lg) {
        min-height: 500px;
      }
    }
  }
}

.hero__content {
  color: #fff;
  padding: $spacer-medium 0;
  width: 100%;

  position: relative;
  z-index: 2;

  @include break-min($xs) {
    max-width: 960px;
  }

  & *:last-child {
    margin-bottom: 0;
  }

  .hero--large & {
    padding: $spacer-medium $grid-gap;
    text-align: center;

    @include break-min($xs) {
      padding: $spacer-large $grid-gap;
    }
  }

  .her-Home--dark & {
    color: $color-black;
  }
}

h2.hero__title,
.editor-styles-wrapper h2.hero__title {
  color: currentColor;
  margin: 0 auto $item-padding;


  .layout__body & {
    @include font_heading-1;
  }
}

.hero__text p,
.editor-styles-wrapper .hero__text p {
  font-weight: $fw-regular;
  margin-bottom: $item-padding * 2;

  .layout__body & {
    @include font_heading-5;
  }
}

a.hero__link {
  @include button_primary;
  margin: 0;

  &.hero__link--external {
    display: inline-flex;
    justify-content: center;

    svg {
      fill: $color-white;
      margin-left: 10px;
      width: 14px;
    }
  }
}

.hero__summary {
  background-color: $color-primary-dark;
  color: $color-white;
  padding: $item-padding * 2;
  z-index: 5;
  position: relative;

  @include break-min($md) {
    background-color: rgba($color-black, 0.4);

    position: absolute;
    bottom: 0;
    right: $grid-gap * 2;
  }

  @include break-min($lg) {
    right: $gutter;
  }
}

h4.hero__summary-heading {
  @include font_base_text;
  color: inherit;
  margin-bottom: 0;
}

h5.hero__summary-date {
  @include font_heading-2;
  border-bottom: 1px solid $color-border-light;
  color: inherit;
  margin-bottom: $item-padding-small;
  padding-bottom: $item-padding-small;
}

button.hero__summary-link {
  @include button_with_icon;
  @include font_base_text;
  color: $color-accent-primary;
  padding-right: 24px;

  position: relative;

  svg {
    width: 16px;
    height: 8px;

    position: absolute;
    right: 0;
    top: 10px;
  }
}
