@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";
@import "../../src/scss/components/section";
@import "../../src/scss/components/listing/card";

.listing-card__body {
  padding: $item-padding 0;
}

.editor-styles-wrapper .listing-card__card h3,
.editor-styles-wrapper .listing-card__card p {
  margin-top: 0;
  margin-bottom: $item-padding-smaller;

  &:last-child {
    margin-bottom: 0;
  }
}

.editor-styles-wrapper .listing-card__card h3 {
  font-size: 18px;
}
