.listing-card {
  cursor: pointer;
  width: 100%;

  display: flex;
  flex-direction: column;

  position: relative;
}

.listing-card__header {
  .listing-card--course &,
  .listing-card--event &,
  .listing-card--report & {
    background-color: $color-light-grey;
  }

  .listing-card--event & {
    color: $color-event;
  }
}

.listing-card__icon {
  @include absolute_center;
  width: 30%;

  .listing-card--course & {
    width: 22%;
  }
}

.listing-card__badge {
  background-color: $color-accent-secondary;
  color: $color-white;
  padding: 5px;
  width: 40px;
  height: 40px;

  position: absolute;
  top: 0;
  right: #{$grid-gap / 2};
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 25px;
    height: 25px;
  }
}

.listing-card__image-wrap {
  overflow: hidden;
  padding-bottom: calc((7 / 10) * 100%);

  position: relative;

  .listing-card--link-tile & {
    border: 1px solid $color-border;
  }
}

.listing-card__image,
.block-editor__container .listing-card__image {
  @include absolute_fill;
  @include object_fit_cover;
  transition: transform .8s ease;
  will-change: transform;

  .listing-card:hover & {
    transform: scale(1.01);
  }

  &.listing-card__image--contain {
    @include absolute_center;
    @include object_fit_contain;
    max-width: 70%;
    max-height: 70%;

    .listing-card:hover & {
      transform: scale(1.01) translate(-50%, -50%);
    }
  }
}

.listing-card__body {
  margin-top: $item-padding;
  width: 100%;
}

p.listing-card__date {
  @include font_small_text;
  color: $color-grey-text;
  font-weight: $fw-black;
  margin-bottom: $item-padding-small;

  .listing-card--course &,
  .listing-card--event & {
    background-color: $color-light-grey;
    color: $color-event;
    padding: 2px 5px;

    display: inline-block;
  }
}

h3.listing-card__title {
  margin-bottom: $item-padding;
}

p.listing-card__text {
  @include font_small_text;
}

p.listing-card__button {
  color: $color-primary;
  transition: opacity .5s ease;

  .listing-card:hover & {
    opacity: 0.7;
  }

  &.listing-card__button--arrow {
    @include button_text_with_arrow;

    svg {
      color: $color-black;

      transition: transform .3s ease;
    }

    .listing-card:hover & {
      svg {
        transform: translateX(1px);
      }
    }
  }

  &.listing-card__button--external {
    @include button_text_external;
  }
}

a.listing-card__fauxlink {
  @include absolute_fill;
  font-size: 0;
  z-index: 2;
}
