.listing-list {
  .layout-primary--restrained & {
    @include restrain_width;
  }
}

.listing-list__loader {
  padding-top: $spacer-medium;
  width: 100%;

  display: flex;
  justify-content: center;

  &.listing-grid__loader--padded {
    padding: $spacer-xlarge;
  }

  svg {
    width: 50px;
    transform: scale(-1,1);
  }
}
