.listing-simple {
  @include spacer;
  position: relative;
}

.listing-simple__image-wrap {
  margin-bottom: $item-padding;
  max-width: 175px;
  max-height: 65px;
}

h3.listing-simple__title {
  @include font_heading-2;
  margin-bottom: 0;
}

ul.listing-simple__items {
  @include structural_ul;
  display: flex;
  align-items: center;
}

li.listing-simple__item {
  &:not(:last-child) {
    margin-right: $grid-gap;
  }
}

button.listing-simple__button {
  @include button_secondary;
}

a.listing-simple__link {
  @include button_with_icon;
  color: $color-primary;
  font-weight: $fw-medium;

  &.listing-simple__link--external {
    display: inline-flex;
    justify-content: center;

    svg {
      fill: currentColor;
      margin-left: 10px;
      width: 14px;
    }
  }
}
