// Posts Table Pro

.posts-table-wrapper table.dataTable {
  border-collapse: collapse;

  thead {
    background-color: rgba($color-grey-text, 0.1);

    tr {
      border: 0;
    }

    th {
      @include font_heading-3;
      border: 0;
      font-weight: $fw-regular;
      padding: 20px;

      &.sorting {
        background: none;
      }
    }

  }

  tbody {
    tr {
      border-bottom: 1px solid $color-border;
      cursor: pointer;

      transition: background-color .3s ease;

      &:hover {
        background-color: rgba($color-grey-text, 0.2);
      }
    }

    td {
      padding: 20px;
    }
  }

  .post-type-nbsap_goals {
    .col-text {
      @include font_small_text_tall;

      h3 {
        font-weight: $fw-regular;
        margin-bottom: $item-padding-smaller !important;
      }
    }
  }
}


// WordPress Admin Bar

#wpadminbar {
  z-index: 4 !important;
}

// Flickity

.flickity-viewport {
  .cards-carousel__cells & {
    overflow: visible;
  }
}

.flickity-button {
  .cards-carousel & {
    &:disabled {
      cursor: pointer;
      opacity: .5;
      pointer-events: all;
    }
  }
}

.flickity-page-dots {
  .cards-carousel & {
    bottom: 5px;

    @include break-min($sm) {
      display: none;
    }

    .dot {
      background-color: $color-white;
    }
  }
}

.flickity-prev-next-button {
  display: none;
  z-index: 8;

  @include break-min($sm) {
    display: block;
  }

  .cards-carousel & {
    background-color: $color-primary;
    border-radius: 0;
    color: $color-white;
    height: 80px;
    width: 60px;

    transition: opacity .3s ease;

    &:hover {
      background: $color-primary;
      opacity: 0.9;
    }

    &.previous {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

      left: 0;
    }

    &.next {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;

      right: 0;
    }
  }
}

// WPML Language Switcher

.wpml-ls-legacy-list-horizontal {
  border: 0 !important;
  line-height: 1 !important;
  padding: 0 !important;

  .header & {
    display: none;

    @include break-min($headerNavShow) {
      // padding-top: 5px !important;
      // padding-bottom: 15px !important;

      display: block;
    }
  }

  .layout-header--scrolled .header & {
    display: none;
  }

  ul {
    font-size: 14px;
    line-height: 1;
  }

  .wpml-ls-item {
    font-size: inherit;
    font-weight: $fw-medium;
    line-height: 1;
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 15px !important;

    display: inline-block;

    &:first-child {
      padding-left: 0 !important;
    }

    &:not(:last-child) {
      position: relative;

      &::after {
        background-color: $color-white;
        content: '';
        width: 1px;
        height: 80%;

        display: block;

        position: absolute;
        top: 50%;
        right: -8.5px;

        transform: translateY(-50%);
      }
    }
  }

  a {
    padding: 0 !important;
    line-height: 1;
    margin-bottom: 0;
    //
    // @include break-min($headerNavShow) {
    //   margin-bottom: 15px;
    // }

    &:hover {
      text-decoration: underline;
    }
  }

  .wpml-ls-slot-shortcode_actions.wpml-ls-last-item a {
    padding-right: 0 !important;
  }

  .wpml-ls-slot-shortcode_actions.wpml-ls-item.wpml-ls-current-language a {
    font-weight: $fw-black;
  }
}

.wpml-ls-native {
  font-size: 14px;
}


.menu-item.wpml-ls-menu-item {
  display: inline-block;
  margin-right: $grid-gap;

  &.wpml-ls-current-language .wpml-ls-native {
    text-decoration: underline;
  }
}
