//-------------------------------------------------
// GLOBAL
//-------------------------------------------------

$global-inner: 1250px;
$grid-gap: 24px;
$gutter: 75px;
$gutter-small: 50px;
$restrained-width: calc((8 / 12) * 100% + #{$grid-gap * 2});

$item-padding-smaller: 5px;
$item-padding-small: 10px;
$item-padding: 15px;

$spacer-small: 25px;
$spacer-medium: 40px;
$spacer-large: 70px;
$spacer-xlarge: 120px;

//-------------------------------------------------
// WORDPRESS
//-------------------------------------------------

$admin-bar-mobile: 46px;
$admin-bar: 32px;

//-------------------------------------------------
// FONTS
//-------------------------------------------------

$font-heading: 'Avenir', sans-serif;
$font-body: 'Avenir', sans-serif;
$font-base-size: 20px;
$font-base-line-height: 27px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

//-------------------------------------------------
// COLOURS
//-------------------------------------------------

$color-primary: #146314;
$color-secondary: #FFBF3D;
$color-primary-light: #246D24;
$color-primary-dark: #043E04;

$color-cta: #030C27;
$color-event: #5c5ed7;

$color-accent-primary: #33E305;
$color-accent-secondary: #E12E79;
$color-accent-tertiary: #9DCD0B;

$color-black: #000000;
$color-darker-grey: #57575D;
$color-dark-grey: #4A4D52;
$color-mid-grey: #E5E5E5;
$color-light-grey: #F4F4F4;
$color-white: #ffffff;

$color-border: rgba($color-black,0.25);
$color-border-light: rgba(255,255,255,0.25);
$color-body-font: $color-black;
$color-error: #dc3232;
$color-grey-text: #A8A8A8;
$color-link: #4968b3;
$color-headings: $color-black;
$color-tools-icons: $color-white;

$color-header: $color-light-grey;
$color-footer: $color-primary;

//-------------------------------------------------
// GRADIENTS
//-------------------------------------------------

$card-gradient: linear-gradient(180deg, rgba($color-black, 0.55) 0%, rgba($color-black, 0.15) 40%, rgba($color-black, 0) 100%);

$hero-gradient: linear-gradient(180deg, rgba($color-black, 0.65) 0%, rgba($color-black, 0.25) 35%, rgba($color-black, 0.25) 100%);

//-------------------------------------------------
// BREAKPOINTS
//-------------------------------------------------

$xxs: 451px;
$xs: 600px;
$sm: 768px;
$md: 900px;
$lg: 1280px;
$xlg: 1440px;

//-------------------------------------------------
// HEADER
//-------------------------------------------------

$headerMobileHeight: 80px;
$headerMobileHeightScrolled: 60px;
$headerHeight: 120px;
$headerHeightScrolled: 80px;
$headerNavShow: 1545px;

//-------------------------------------------------
// DRAWERS
//-------------------------------------------------

$menuDrawerHeaderHeight: calc(#{$item-padding} + 24px);
$filterDrawerHeaderHeight: calc(#{$grid-gap * 2} + 26px);
$filterDrawerFooterHeight: calc(74px - 5px);
