@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.link-tiles {
  @include spacer;
}

.link-tiles__inner {
  .widgets & {
    @include inner;
  }
}

.link-tiles__header {
  @include section_header;
}

.link-tiles__title {
  @include section_title;
}

ul.link-tiles__items {
  @include structural_ul;
  margin-right: -$grid-gap;
  display: flex;
  flex-wrap: wrap;
}

li.link-tiles__item {
  margin-right: $grid-gap;
  margin-bottom: $grid-gap;
  flex: 0 0 calc(((1 / 2) * 100%)- #{$grid-gap});

  @include break-min($md) {
    margin-bottom: 0;
    flex: 0 0 calc(((1 / 4) * 100%) - #{$grid-gap});
  }
}

.link-tiles__footer {
  @include spacer_top;
  text-align: center;
}

a.link-tiles__link {
  @include button_with_icon;
}

.link-tile {
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: calc((7 / 6) * 100%);
  position: relative;
}

h4.link-tile__title {
  color: $color-white;
  font-weight: $fw-regular;

  position: absolute;
  top: $item-padding;
  left: $item-padding;
  z-index: 3;
}

.link-tile__image {
  @include absolute_fill;
  @include object_fit_cover;
  z-index: 1;

  transition: transform .8s ease;
  will-change: transform;

  .link-tile:hover & {
    transform: scale(1.015);
  }
}

.link-tile__image-overlay {
  @include absolute_fill;
  background: $card-gradient;
  z-index: 2;
}

a.link-tile__fauxlink {
  @include absolute_fill;
  z-index: 4;
}
