@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .layout__body {

    // Header

    .header__inner,
    .header__body,
    .header__items {
      height: 100%;
    }

    // Icon
    .icon-logo {
      height: 100px;
      transition: width .3s ease transform .3s ease;

      .layout-header--scrolled & {
        height: 60px;
        transform: scale(1.25) translateY(7px);
      }
    }

    // Layout

    .layout-primary {
      @include break-min($sm) {
        .layout-container--has-sidebar & {
          width: 74.35%;
          flex: 0 0 74.35%;
        }
      }
    }

    // Blocks

    // Top Level Landing Page Intro

    .block-intro__column {
      @include break-min($sm) {
        width: 49.35%;
        flex: 0 0 49.35%;
      }
    }

    // Text Image Columns

    .block-text-image__column {
      @include break-min($sm) {
        width: 49.35%;
        flex: 0 0 49.35%;
      }
    }

    // Case Study Stats
    .casestudy-stats {
      @include break-min($md) {
        margin-left: auto !important;
        margin-right: auto !important;
      }
      @include break-min($lg) {
        margin-left: calc((-100vw / 2 + #{$restrained-width / 2}) + #{$gutter}) !important;
        margin-right: calc((-100vw / 2 + #{$restrained-width / 2}) + #{$gutter}) !important;
      }
    }

  }
}
