@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.block-intro__columns {
  margin-bottom: #{$grid-gap * 5};

  @include break-min($sm) {
    margin-bottom: $grid-gap;
    display: flex;
  }
}

.block-intro__column {
  position: relative;

  @include break-min($sm) {
    width: calc(50% - #{$grid-gap / 2});
    flex: 0 0 calc(50% - #{$grid-gap / 2});
  }

  &:first-child {
    margin-bottom: $grid-gap;

    @include break-min($sm) {
      margin-right: $grid-gap;
      margin-bottom: 0;

      .block-intro__columns-flipped & {
        order: 2;
        margin-right: 0;
        margin-left: $grid-gap;
      }
    }
  }

  &:last-child {
    @include break-min($sm) {
      align-self: end;

      .block-intro__columns-flipped & {
        order: 1;
      }
    }
  }
}

p.block-intro__lead-text {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 15px;
  margin-bottom: 15px;
}

p.block-intro__text {
  margin-top: 15px;
  margin-bottom: 15px;
}

a.block-intro__link {
  color: $color-grey-text;
  text-decoration: none;
  font-size: 16px;
}

.block-intro__image-wrap {
  position: relative;
}

.block-intro__image-wrap-primary {
  width: calc(100% + 10px);
  margin-bottom: 5%;
  z-index: 2;
  border-right: 10px solid #fff;
  border-bottom: 15px solid #fff;
  padding-bottom: 55%;

  .block-intro__columns-flipped & {
    @include break-min($sm) {
      border-right: 0;
      border-left: 10px solid #fff;
      margin-left: -10px;
    }
  }
}

.block-intro__image-wrap-secondary {
  width: 70%;
  position: absolute;
  bottom: -#{$grid-gap * 4};
  padding-bottom: 45%;
  right: -#{100px - $grid-gap};

  @include break-min($sm) {
    bottom: 0;
  }

  .block-intro__columns-flipped & {
    @include break-min($sm) {
      right: auto;
      left: -#{100px - $grid-gap};
    }
  }
}

.block-intro__image {
  @include absolute_fill;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
