//-------------------------------------------------
// Buttons
//-------------------------------------------------

@mixin button_reset {
  appearance: none;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: $font-base-size;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

@mixin button {
  @include button_reset;
  border: 1px solid transparent;
  font-family: $font-body;
  font-weight: $fw-regular;
  line-height: 1;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;

  display: inline-block;

  transition: background-color 0.3s ease-in-out, color 0.3s ease,
    border-color 0.35s ease;

  @include break-min($lg) {
    padding: 8px 24px;
  }
}

@mixin button_small {
  font-size: 18px;
  padding: 4px 12px;

  @include break-min($lg) {
    padding: 8px 18px;
  }
}

@mixin button_wider {
  @include break-min($lg) {
    padding-right: 36px;
    padding-left: 36px;
  }
}

@mixin button_primary {
  @include button;
  color: #fff;
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover {
    background-color: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
  }
}

@mixin button_secondary {
  @include button;
  color: $color-primary;
  background-color: transparent;
  border-color: $color-primary;

  &:hover {
    color: #fff;
    background-color: $color-primary;
  }
}

@mixin button_filter {
  @include button;
  color: $color-secondary;
  border-color: $color-mid-grey;
  background-color: $color-mid-grey;

  &:hover {
    border-color: $color-secondary;
    background-color: transparent;
  }
}

@mixin button_ghost {
  @include button;
  color: currentColor;
  border-color: currentColor;
  background-color: transparent;

  &:hover {
    color: $color-white;
    border-color: $color-primary;
    background-color: $color-primary;
  }
}

@mixin button_accent {
  @include button;

  color: $color-secondary;
  border-color: $color-accent;
  background-color: $color-accent;

  &:hover {
    color: $color-secondary;
    border-color: darken($color-accent, 20%);
    background-color: darken($color-accent, 20%);
  }
}

@mixin button_with_icon {
  // text-decoration: none;
  white-space: nowrap;
  //
  display: inline-flex;
  align-items: center;
}

@mixin button_text {
  @include button_reset;
  text-decoration: underline;
}

@mixin button_text_with_arrow {
  @include button_reset;
  @include button_with_icon;

  .icon__angle-right {
    width: 14px;
    margin-left: $item-padding-smaller;
  }
}
