//-------------------------------------------------
// Buttons
//-------------------------------------------------

@mixin button_reset {
  @include font_base_text;
  appearance: none;
  border: 0;
  background: none;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
}

@mixin button {
  @include button_reset;
  border: 1px solid transparent;
  border-radius: 5px;
  font-family: $font-body;
  font-size: $font-base-size;
  font-weight: $fw-medium;
  line-height: 1;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;

  display: inline-block;

  transition: background-color 0.3s ease-in-out, color 0.3s ease,
    border-color 0.35s ease;

  @include break-min($lg) {
    padding: 10px 24px;
  }
}

@mixin button_small {
  font-size: 18px;
  padding: 4px 12px;

  @include break-min($lg) {
    padding: 8px 18px;
  }
}

@mixin button_wider {
  @include break-min($lg) {
    padding-right: 36px;
    padding-left: 36px;
  }
}

@mixin button_primary {
  @include button;
  color: #fff;
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover {
    background-color: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
  }
}

@mixin button_accent_tertiary {
  @include button;
  color: #fff;
  background-color: $color-accent-tertiary;
  border-color: $color-accent-tertiary;

  &:hover {
    background-color: darken($color-accent-tertiary, 5%);
    border-color: darken($color-accent-tertiary, 5%);
  }
}

@mixin button_secondary {
  @include button;
  background-color: $color-secondary;
  color: $color-black;
  border-color: $color-secondary;

  &:hover {
    background-color: darken($color-secondary, 10%);
    border-color: darken($color-secondary, 10%);
  }
}

@mixin button_filter {
  @include button;
  color: $color-black;
  border-color: $color-mid-grey;
  background-color: $color-mid-grey;

  &:hover {
    border-color: $color-black;
    background-color: transparent;
  }
}

@mixin button_ghost {
  @include button;
  color: currentColor;
  border-color: currentColor;
  background-color: transparent;

  &:hover {
    color: $color-white;
    border-color: $color-primary;
    background-color: $color-primary;
  }
}

@mixin button_accent {
  @include button;

  color: $color-black;
  border-color: $color-accent-primary;
  background-color: $color-accent-primary;

  &:hover {
    color: $color-black;
    border-color: darken($color-accent-primary, 20%);
    background-color: darken($color-accent-primary, 20%);
  }
}

@mixin button_with_icon {
  @include button_reset;
  white-space: nowrap;

  display: inline-flex;
  align-items: center;
}

@mixin button_text {
  @include button_reset;
  font-weight: $fw-medium;
  text-decoration: underline;
}

@mixin button_text_external {
  @include button_with_icon;
  font-weight: $fw-medium;
  padding-right: 12px;

  position: relative;

  svg {
    color: $color-grey-text;
    margin-left: $item-padding-small;
    width: 14px;

    flex: 0 0 14px;
  }
}

@mixin button_text_with_arrow {
  @include button_with_icon;
  font-weight: $fw-medium;
  padding-right: 12px;

  position: relative;

  svg {
    width: 7.5px;

    position: absolute;
    right: 0;
    top: 7.5px;
  }
}
