//-------------------------------------------------
// Typography
//-------------------------------------------------

@mixin font_base_text {
  font-size: 18px;
  line-height: 24px;

  @include break-min($sm) {
    font-size: $font-base-size;
    line-height: $font-base-line-height;
  }
}

@mixin heading {
  color: $color-headings;
  font-family: $font-heading;
  font-weight: $fw-black;
  margin-bottom: $item-padding;
}

@mixin font_heading-1 {
  font-size: 40px;
  line-height: 48px;

  @include break-min($sm) {
    font-size: 60px;
    line-height: 70px;
  }
}

@mixin font_heading-2 {
  font-size: 30px;
  line-height: 38px;

  @include break-min($sm) {
    font-size: 35px;
    line-height: 48px;
  }
}

@mixin font_heading-3 {
  font-size: 22px;
  line-height: 27px;

  @include break-min($sm) {
    font-size: 22px;
    line-height: 27px;
  }
}

@mixin font_heading-4 {
  font-size: 20px;
  line-height: 24px;

  @include break-min($sm) {
    font-size: 23px;
    line-height: 32px;
  }
}

@mixin font_heading-5 {
  @include font_base_text;
}

@mixin font_heading-6 {
  font-size: 16px;
  line-height: 20px;
}

@mixin font_small_text {
  font-size: 16px;
  line-height: 20px;
}

@mixin font_smaller_text {
  font-size: 12px;
  line-height: 20px;
}

@mixin font_header_nav {
  font-size: 16px;
  line-height: 30px;
}

@mixin font_small_text_tall {
  font-size: 16px;
  line-height: 27px;
}

@mixin paragraph {
  @include font_base_text;
  color: inherit;
  margin-bottom: $item-padding;
}
