@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.statistic-cards {
  @include spacer;
}

.statistic-cards__body {
  .widgets & {
    @include inner;
  }
}

.statistic-cards__items {
  @include structural_ul;
  display: block;

  @include break-min($md) {
    display: flex;
    margin-right: -$grid-gap;
  }
}

.statistic-cards__item {
  margin-bottom: $grid-gap;

  display: flex;

  &:last-child {
    margin-bottom: 0;
  }

  @include break-min($md) {
    margin-right: $grid-gap;
    margin-bottom: 0;

    flex: 0 0 calc(((1 / 3) * 100%) - #{$grid-gap});
  }
}

.statistic-card {
  background-color: $color-light-grey;
  border-radius: 3px;
  padding: $item-padding * 2;
  width: 100%;

  position: relative;
  z-index: 1;

  &:after {
    content: '';
    background: $color-primary;

    height: 5px;
    width: 50%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

h3.statistic-card__title {
  @include font_heading-1;
  color: $color-primary;
  margin-bottom: $item-padding-smaller;
}

p.statistic-card__text {
  @include font_heading-4;
  margin-bottom: $item-padding;

  @include break-min($md) {
    margin-bottom: $item-padding * 2;
  }
}

.statistic-cards__footer {
  @include spacer_top;
  text-align: center;
}

a.statistic-cards__link {
  @include button_with_icon;
}
