@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.hero-home__inner {
  @include inner_padding;

  display: flex;
}

.hero-home__background-image {
  @include absolute_fill;
  @include object_fit_cover;
  z-index: 1;
}

.hero-home__body {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: relative;

  .layout__body & {
    @include break-min($lg) {
      min-height: 500px;
    }
  }
}

.hero-home__content {
  padding: $spacer-medium $grid-gap;
  text-align: center;
  width: 100%;
  color: #fff;

  position: relative;
  z-index: 2;

  @include break-min($xs) {
    padding: $spacer-large $grid-gap;
    max-width: 900px;
  }

  @include break-min($lg) {
    padding: $spacer-xlarge $grid-gap $spacer-large;
  }

  & *:last-child {
    margin-bottom: 0;
  }

  .her-Home--dark & {
    color: $color-secondary;
  }
}

h2.hero-home__title {
  @include font_heading-1;
  color: currentColor;
  text-align: center;
  margin: 0 auto $item-padding * 4;
}

.hero-home__text p {
  @include font_heading-5;
  font-weight: $fw-regular;
  margin-bottom: $item-padding * 2;
}

a.hero-home__link {
  @include button_primary;
  margin: 0;

  &.hero-home__link--external {
    display: inline-flex;
    justify-content: center;

    svg {
      fill: $color-white;
      margin-left: 10px;
      width: 14px;
    }
  }
}
