@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.block-paragraph {
  @include spacer;
}

h4.block-paragraph__heading {
  @include font_heading-2;
  margin-bottom: $item-padding-small;
}

.block-paragraph__inner {
  .page-template-page-fullwidth &,
  .page-template-page-table-page & {
    @include inner;
  }
}

a.block-paragraph__link,
.editor-block-list__layout a.block-paragraph__link {
  @include button_secondary;
  margin-top: $item-padding-small;

  &.block-paragraph__link--external {
    display: inline-flex;
    justify-content: center;

    svg {
      margin-left: 10px;
      width: 14px;
    }
  }
}

button.block-paragraph__trigger {
  @include button_secondary;
  margin-top: $item-padding;
}
