@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.block-contact {
  @include spacer_xlarge;
}

.block-contact__inner {
  @include inner;
}

.block-contact__header {
  margin-bottom: $spacer-small;
  text-align: center;

  @include break-min($xs) {
    margin-bottom: $spacer-large;
  }
}

h3.block-contact__title {
  @include font_heading-2;
}

.block-contact__columns {
  @include break-min($xxs) {
    margin-right: -#{$grid-gap};

    display: flex;
    flex-wrap: wrap;
  }

  @include break-min($sm) {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}

.block-contact__column {
  margin-bottom: $spacer-small;

  @include break-min($xxs) {
    margin-right: $grid-gap;
    margin-bottom: $spacer-medium;

    flex: 0 0 calc(50% - #{$grid-gap});
  }

  @include break-min($sm) {
    flex: 1;
    margin-bottom: 0;
  }
}

h4.block-contact__heading {
  @include font_heading-5;
  font-weight: $fw-bold;
}

p.block-contact__text {
  margin-bottom: $item-padding-small;
}
