.nav-footer .menu {
  margin: 0 -#{$grid-gap} -#{$item-padding} 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  @include break-min($sm) {
    margin-right: 0;
    margin-bottom: 0;

    flex-wrap: nowrap;
  }

  li {
    @include no_bullets;
    letter-spacing: 0.6px;
    margin-bottom: 5px;

    a {
      color: currentColor;
      text-decoration: none;

      &:not([href]) {
        font-weight: $fw-bold;
      }

      &[href]:hover {
        text-decoration: underline;
      }
    }

    &.current-menu-item > a[href] {
      text-decoration: underline;
    }
  }

  > li {
    margin-right: $grid-gap;
    margin-bottom: $item-padding * 2;
    width: calc(((6 / 12) * 100%) - #{$grid-gap});

    flex: 0 0 calc(((6 / 12) * 100%) - #{$grid-gap});

    @include break-min($sm) {
      width: auto;

      flex: 0 0 180px;
    }

    > a {
      font-weight: $fw-medium;
      margin-bottom: 10px;

      display: block;
    }

    &.menu-item--logo {
      width: calc(((12 / 12) * 100%) - #{$grid-gap});
      flex: 0 0 calc(((12 / 12) * 100%) - #{$grid-gap});

      @include break-min($xxs) {
        width: 340px;

        flex: 0 0 340px;
      }

      @include break-min($sm) {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  .menu-item-logos {
    @include no_margin_padding;
    display: flex;
  }

  .menu-item-logo {
    width: calc(50% - #{$spacer-large / 2});
    margin-bottom: 0;

    display: inline-block;

    transition: opacity .5s ease;

    img {
      display: block;
    }

    &:not(:first-child) {
      margin-left: $spacer-large;
      position: relative;

      &::before {
        background-color: $color-white;
        content: '';
        width: 2px;
        height: 100%;

        display: block;
        position: absolute;
        top: 0;
        left: -#{$spacer-large / 2};
      }

      &:hover {
        opacity: 0.85;
      }
    }

    &:hover {
      opacity: 0.85;
    }
  }

  .sub-menu {
    padding: 0;
    margin: 0;

    li.menu-item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
