.nav-header {

  .menu-primary-container .menu {
    margin: 0;
    padding: 0;

    display: none;

    @include break-min($headerNavShow) {
      display: flex;
      justify-content: space-between;
    }

    li {
      @include no_bullets;
      font-family: $font-heading;
      font-weight: $fw-medium;
      font-size: 16px;
      letter-spacing: 0.6px;
    }

    > li {
      margin-right: 20px;
      padding-top: 25px;
      padding-bottom: 25px;

      position: relative;

      transition: padding .3s ease;

      &:hover a::before {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        color: currentColor;
        text-decoration: none;

        &:not([href]) {
          cursor: pointer;
        }
      }

      > a {
        display: block;
        position: relative;
        white-space: nowrap;

        &::before {
          background-color: $color-white;
          content: '';
          height: 2px;

          position: absolute;
          right: 0;
          bottom: -2px;
          left: 0;

          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.5s ease;
        }
      }

      // # Dropdown Arrow
      //
      // &.menu-item-has-children > a {
      //   margin-right: 20px;
      //
      //   position: relative;
      //
      //   &::after {
      //     background-image: url('../../img/icon-angle-down-white.svg');
      //     background-size: 15px;
      //     background-repeat: no-repeat;
      //     content: '';
      //     width: 15px;
      //     height: 10px;
      //
      //     display: block;
      //
      //     position: absolute;
      //     top: 10px;
      //     right: -20px;
      //   }
      // }

      &.current-menu-item > a::before {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }

    .layout-header--scrolled & {
      > li {
        padding-top: 17.5px;
        padding-bottom: 17.5px;
      }

      .nav-header__submenu {
        top: calc(100% - 10px);
      }
    }

    .no-hero &,
    .layout-header--scrolled & {
      .menu-item-has-children > a {
        &::after {
          background-image: url('../../img/icon-angle-down-primary.svg');
        }
      }
    }
  }

  .nav-header__submenu {
    position: absolute;
    // top: calc(100% - 30px);
    top: calc(100% + 1px);
    z-index: 10;
    background-color: $color-primary;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .3s ease, visibility .3s ease;

    .sub-menu {
      margin: 0;
      padding-top: $item-padding;
      padding-bottom: $item-padding;

      li {
        padding-right: $item-padding * 2;
        padding-left: $item-padding * 2;

        transition: background-color .3s ease;

        a {
          @include font_header_nav;
          color: #fff;
          white-space: nowrap;
          // display: block;
          transition: opacity .3s ease;
        }

        &.current-menu-item,
        &:hover {
          a {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .menu-item-has-children:hover .nav-header__submenu {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
