.nav-mobile {
  .menu {
    margin: 0;
    padding: 0;

    li.menu-item {
      @include no_bullets;
      position: relative;
      font-family: $font-heading;
      letter-spacing: 0.6px;

      a {
        display: block;
        text-decoration: none;
        color: currentColor;
        line-height: 1;
      }
    }

    > li.menu-item {
      > a {
        @include font_base_text;
        padding: $item-padding-small $item-padding * 1.5;
      }
      // 
      // &.menu-item-has-children {
      //   background-image: url('../../img/icon-angle-down-white.svg');
      //   background-size: 12px 18px;
      //   background-repeat: no-repeat;
      //   background-position: 94% 12px;
      // }
    }

    .sub-menu {
      background-color: lighten($color-primary-light, 5%);
      margin: 0;
      padding: $item-padding $item-padding * 1.5;

      li.menu-item {
        padding: $item-padding-smaller $item-padding;

        a {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
        }
      }
    }
  }
}
