.nav-mobile {
  .menu {
    margin: 0;
    padding: 0;

    li.menu-item {
      @include no_bullets;
      position: relative;
      font-family: $font-heading;
      letter-spacing: 0.6px;

      a {
        display: block;
        text-decoration: none;
        color: currentColor;
        line-height: 1;
      }
    }

    > li.menu-item {
      > a {
        @include font_base_text;
        padding: $item-padding-small $item-padding * 1.5;
      }

      &.menu-item-has-children {
        cursor: pointer;
        background-color: $color-primary-light;

        position: relative;
        transition: background-color .5s ease;
        transition-delay: .2s;

        &::after {
          background-image: url('../../img/icon-angle-down-white.svg');
          background-size: 14px 20px;
          background-repeat: no-repeat;
          content: '';
          pointer-events: none;
          width: 14px;
          height: 20px;

          display: block;

          position: absolute;
          right: $grid-gap;
          top: 10px;

          transform: translateX(-50%);
          transition: transform .3s ease;
          will-change: transform;
        }

        &.open {
          background-color: lighten($color-primary-light, 5%);

          transition: background-color .3s ease;

          &::after {
            transform: translateX(-50%) rotate(180deg);
          }
        }
      }
    }

    .sub-menu {
      margin: 0;
      overflow: hidden;
      padding-right: $item-padding * 1.5;
      padding-left: $item-padding * 1.5;
      max-height: 0;

      transition: max-height .5s ease, padding .5s ease;

      li.menu-item {
        padding: $item-padding-small $item-padding;

        &:first-child {
          padding-top: $item-padding-smaller;
        }

        &:last-child {
          padding-bottom: $item-padding-smaller;
        }

        a {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
        }
      }
    }

    .open .sub-menu {
      padding-top: $item-padding-small;
      padding-bottom: $item-padding-small;
      max-height: 1000px;
    }
  }
}
