@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.block-introduction {
  @include spacer;
}

.block-introduction__inner {

}

.block-introduction__body {

}

.block-introduction__columns {
  display: flex;
}

.block-introduction__column {
  flex: 1;

  &:first-child {
    margin-right: $grid-gap;
    flex: 2;
  }

}

.block-introduction__content {

}

.block-introduction__text {

}

.block-introduction__link {

}

.block-introduction__link {

}

.block-introduction__featured-link {
  box-shadow: 0px 3px 6px #00000029;
  padding: $spacer-small $spacer-medium;
}

.block-introduction__logo {
  width: 100px;
}

h4.block-introduction__heading {
  @include font_heading-3;
}

p.block-introduction__description {
  @include font_heading-6;
}

a.block-introduction__link {
  @include button_with_icon;
  color: $color-primary;
  font-weight: $fw-medium;

  &.block-introduction__link--external {
    display: inline-flex;
    justify-content: center;

    svg {
      color: $color-dark-grey;
      margin-left: 10px;
      width: 14px;
    }
  }
}

button.block-introduction__trigger {
  @include button_secondary;
  margin-top: $item-padding;
}
