@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.stats-grid {
  @include spacer;
}

ul.stats-grid__items,
.editor-styles-wrapper .genesis-custom-blocks-editor__ssr ul.stats-grid__items {
  @include structural_ul;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $grid-gap;
}

.stats-grid__item {
  display: flex;
}

.stats-tile {
  background-color: $color-primary;
  border-radius: 5px;
  color: $color-white;
  padding: $item-padding;
  width: 100%;
}

h4.stats-tile__heading,
.editor-styles-wrapper h4.stats-tile__heading {
  @include font_heading-2;
  color: currentColor;
  margin-top: 0;
  margin-bottom: $item-padding;
}

h5.stats-tile__subheading,
.editor-styles-wrapper h5.stats-tile__subheading {
  @include font_small_text;
  color: currentColor;
  margin-top: 0;
  margin-bottom: $item-padding;
}
