@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.block-image-text {
  @include spacer;
}

.block-image-text__inner {
  @include inner;
}

.block-image-text__columns {
  @include break-min($md) {
    display: flex;
    justify-content: space-between;
  }
}

.block-image-text__column {
  width: calc(((1 / 2) * 100%) - #{$grid-gap / 2});

  flex: 0 0 calc(((1 / 2) * 100%) - #{$grid-gap / 2});

  &.block-image-text__column--image {
    margin-bottom: $item-padding;

    @include break-min($md) {
      margin-top: $spacer-xlarge;
      margin-bottom: 0;
      order: 2;
    }
  }

  &.block-image-text__column--text {
    @include break-min($md) {
      order: 1;
    }
  }
}

.block-image-text__image-wrap {
  padding-bottom: calc((5 / 7) * 100%);

  position: relative;
}

.block-image-text__image {
  @include absolute_fill;
  @include object_fit_cover;
}

a.block-image-text__link {
  @include button_primary;
}
