@import "../../src/scss/utilities/variables";
@import "../../src/scss/utilities/mixins";

.block-two-images__items {
  @include ignore_restrained_width;

  @include break-min($xs) {
    display: flex;
  }
}

.block-two-images__item {
  &:first-child {
    margin-bottom: $grid-gap;
  }

  @include break-min($xs) {
    width: calc(50% - #{$grid-gap / 2});
    flex: 0 0 calc(50% - #{$grid-gap / 2});

    &:first-child {
      margin-right: $grid-gap;
      margin-bottom: 0;
    }
  }
}

.block-two-images__image-wrap,
.editor-block-list__layout .block-two-images__image-wrap {
  position: relative;
  padding-bottom: calc((10 / 14.25) * 100%);

}

.block-two-images__image,
.editor-block-list__layout .block-two-images__image {
  @include absolute_fill;
  @include object-fit-cover;
}
