.footer {
  @include spacer_body_top_small;
  background-color: $color-footer;
  color: $color-white;
  padding-bottom: $spacer-small;

  position: relative;
  z-index: 1;
  border-bottom: 12px solid $color-primary-dark;
}

.footer__inner {
  @include inner_padding;
}

.footer__footer {
  @include break-min($md) {
    display: flex;
  }
}

p.footer__text {
  @include font_small_text;
  font-weight: $fw-black;
  color: currentColor;
  line-height: 1.2;
  margin-top: $item-padding * 2;
  margin-bottom: 0;

  @include break-min($md) {
    margin-top: $item-padding;
    max-width: 700px;

    flex: 1 1 auto;
  }
}
