.footer-logos {
  @include spacer_body;
  background-color: $color-light-grey;
}

.footer-logos__inner {
  @include inner_padding;
}

.footer-logos__items {
  @include structural_ul;
  display: flex;
  flex-wrap: wrap;

  @include break-min($lg) {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.footer-logos__item {
  flex: 0 0 calc(((1 / 2) * 100%) - #{($grid-gap * 2) + 1px});

  @include break-min($sm) {
    flex: 0 0 auto;
  }

  &:not(:first-child) {
    border-left: 2px dashed $color-border;
    padding-left: $grid-gap * 2;
    margin-left: $grid-gap * 2;
  }

  &:last-child {
    border: 0;
    padding-left: 0;
    margin-left: 0;

    @include break-min($lg) {
      border-left: 2px dashed $color-border;
      padding-left: $grid-gap * 2;
      margin-left: $grid-gap * 2;
    }
  }

  &.footer-logos__item--large {
    margin-top: $grid-gap * 2;
    width: 100%;

    flex: 0 0 100%;

    @include break-min($lg) {
      margin-top: 0;
      width: auto;

      flex: 0 0 auto;
    }
  }
}

.footer-logos__logo-items {
  @include structural_ul;
  margin-bottom: -#{$grid-gap * 2};

  display: flex;
  flex-wrap: wrap;

  @include break-min($md) {
    margin-bottom: 0;
  }
}

.footer-logos__logo-item {
  margin-bottom: $grid-gap * 2;

  @include break-min($md) {
    margin-bottom: 0;
  }

  &:not(:last-child) {
    margin-right: $grid-gap * 2;
  }
}

.footer-logos__logo {
  max-width: 300px;

  &.footer-logos__logo--gef {
    width: 65px;
    height: 76px;
  }

  &.footer-logos__logo--un-environment {
    width: 89px;
    height: 67px;
  }

  &.footer-logos__logo--mozambique {
    width: 162px;
    height: 67px;
  }

  &.footer-logos__logo--wcs {
    width: 79px;
    height: 77px;
  }

  &.footer-logos__logo--unep-wcmc {
    width: 167px;
    height: 49px;
  }

  &.footer-logos__logo--combo {
    width: 94px;
    height: 57px;
  }
}
