.header {
  background-color: transparent;
  color: $color-white;
}

.header__top {
  background-color: $color-primary-light;

  @include break-min($headerNavShow) {
    .layout-header--scrolled & {
      display: none;
    }
  }
}

.header__bottom {
  background-color: $color-primary;

  .layout-header--scrolled & {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.header__inner {
  @include inner_padding;
}

.header__items {
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  justify-content: space-between;

  transition: height .3s ease;
}

.header__item {
  flex: 0 0 auto;
}

.header__title {
  @include screen_reader_only;
}

.header__item--nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include break-min($md) {
    flex-wrap: wrap;
  }
}

.header__item--tools {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 auto;

  &.header__item--language-switcher {
    @include break-min($headerNavShow) {
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      .layout-header--scrolled & {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
