.header-logos {
  width: 220px;

  @include break-min($sm) {
    width: 350px;
  }
}

.header-logos__items {
  @include structural_ul;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logos__item {
  flex: 0 0 50%;

  &:first-child {
    border-right: 2px solid rgba($color-white, 0.6);
    margin-right: $item-padding-small;
    padding-right: $item-padding-small;
  }
}

.header-logo {
  color: $color-white;

  display: block;
  will-change: height;
  position: relative;
}

.header-logo__icon {
  transition: opacity .2s ease;
  will-change: opacity;

  .icon-logo {
    @include absolute_fill;
    @include object_fit_contain;
  }
}

.header-logo__logo {
  display: block;
}
