.layout-topbar {
  background-color: $color-primary;
  color: $color-white;
  overflow: hidden;
  max-height: 35px;

  display: block;

  transition: max-height .5s ease;

  .layout-header--scrolled & {
    max-height: 0;
  }

  @include break-min($headerNavShow) {
    display: none;
  }
}

.layout-topbar__inner {
  @include inner_padding;
}

.layout-topbar__body {
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
